<div class="container">
    <div class="col">
        <div class="col">
            <h2> Users's List </h2>
            <h4>logged as admin</h4>
            <a href="/add-user" class="btn btn-primary btn-sm"> Add admin user</a>
            <a href="/home" class="btn btn-primary btn-sm"> Back Home</a>
        </div>
        <div class="col">
            <form [formGroup]="form" (submit)="listByID(form.value.id)">
                <label class="col">Search by ID: </label>
                <input type="number" class="col" placeholder="admin ID" formControlName="id">
                <button type="submit" class="btn btn-warning" >Search</button>
            </form>
        </div>
    </div>
    <!-- Tabla -->
    <table class="table table-bordered">
        <thead>
            <th class="col">#</th>
            <th class="col">Username</th>
            <th class="col">Name</th>
            <th class="col">Password</th>

        </thead>
        <tbody>
            @for (d of users; track $index) {
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.username}}</td>
                <td>{{d.name}}</td>
                <td>{{d.password}}</td>
                <td><a class="btn btn-primary btn-sm" id = "btn-edit{{d.id}}"  [routerLink]="['/edit-user/',d.id]" >Edit</a></td>
                <td> <a class="btn btn-danger btn-sm" (click)="borrarData(d.id)">Delete</a> </td>
            </tr>
            }
        </tbody>
    </table>
</div>